<div class="container f1 col">
  <div class="card f1">
    <div class="section">
      <div class="title">Time is precious</div>
      <div class="body">
        <p>Time falls away like sand in an Hourglass. Time away on a vacation provides great benefits to a person's health, performance and relationships, yet people struggle in taking vacations. Why? The answer is TIME.</p>
        <p>Hourglass Travel focuses our efforts on making your time away count. Using personal experience and insight, we provide practical planning assistance for your ideal adventure, vacation or corporate incentive travel with our preferred travel and destination partners around the world.</p>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="title">Mission Statement</div>
      <div class="body">
        <p>Our aim is to help you pursue moments in life that can be remembered; moments with those you love, in places you dream of, on adventures you anticipate, where you relax and come back to the real world refreshed. We want to help make your time away count.</p>
        <p>We specialize in partnering with travel and touring brands that reflect our commitment to excellence in service, value and experience.</p>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="title">Meet our Team</div>
      <div class="body">
      </div>
    </div>
  </div>
</div>
