<div class="container f1 col">
  <div class="card f1">
    <div class="section">
      <div class="title">Family Vacation Ideas</div>
      <iframe src="//www.youtube.com/embed/5l_RPk-QUrM?feature=oembed&amp;wmode=opaque&amp;theme=dark&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      <img src="assets/ABD.png"/>
    </div>
    <div class="section">
      <div class="title">Hot Destinations</div>
      <iframe src="//www.youtube.com/embed/5l_RPk-QUrM?feature=oembed&amp;wmode=opaque&amp;theme=dark&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      <img src="assets/AMA.png"/>
    </div>
    <!-- <div class="section">
      <div class="title">Featured Destinations</div>
      <div class="body list">
        <span>International Tours</span>
        <ul>
          <li><a href="#">Adventures By Disney</a></li>
          <li><a href="#">Tauck Tours</a></li>
        </ul>
        <span>River Cruises</span>
        <ul>
          <li><a href="#">Ama Waterways</a></li>
        </ul>
        <span>All Inclusive Resorts</span>
        <ul>
          <li><a href="#">AM Resorts</a></li>
          <li><a href="#">Sandals & Beaches</a></li>
        </ul>
        <span>Ocean Cruise Lines</span>
        <ul>
          <li><a href="#">Disney Cruise</a></li>
          <li><a href="#">Royal Caribbean</a></li>
        </ul>
        <a href="#">Walt Disney World</a>
        <a href="#">DisneyLand</a>
        <a href="#">Disney's Aulani in Hawaii</a>
      </div> -->
    <!-- </div> -->
  </div>
</div>
