<div class="container f1 col">
  <div class="card f1">
    <div class="section">
      <div class="title">Family Vacation Ideas</div>
      <div class="body col aic">
        <div class="frame">
          <iframe src="//www.youtube.com/embed/5l_RPk-QUrM?feature=oembed&amp;wmode=opaque&amp;theme=dark&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <img src="assets/ABD.png"/>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="title">Hot Destinations</div>
      <div class="body col aic f1">
        <div class="frame">
          <iframe src="//www.youtube.com/embed/5l_RPk-QUrM?feature=oembed&amp;wmode=opaque&amp;theme=dark&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <img src="assets/AMA.png"/>
      </div>
    </div>
    <hr>
    <div class="section">
      <div class="title">Featured Destinations</div>
      <div class="body col f1">
        <ul class="a">
          <li>International Tours</li>
          <li><ul class="b">
            <li><a href="#">Adventures By Disney</a></li>
            <li><a href="#">Tauck Tours</a></li>
          </ul></li>
          <li>River Cruises</li>
          <li><ul class="b">
            <li><a href="#">Ama Waterways</a></li>
          </ul></li>
          <li>All Inclusive Resorts</li>
          <li><ul class="b">
            <li><a href="#">AM Resorts</a></li>
            <li><a href="#">Sandals & Beaches</a></li>
          </ul></li>
          <li>Ocean Cruise Lines</li>
          <li><ul class="b">
            <li><a href="#">Disney Cruise</a></li>
            <li><a href="#">Royal Caribbean</a></li>
          </ul></li>
          <li><a href="#">Walt Disney World</a></li>
          <li><a href="#">DisneyLand</a></li>
          <li><a href="#">Disney's Aulani in Hawaii</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
