<div ng-controller="getquoted as ctrl" class="container">
  <h2>Not everything is required, but the more you fill out the less I will need to contact you for more information!</h2>
  <accordion close-others="true">



    <accordion-group heading="You" is-open="true">
      <div class="form-group">
        <label>First Name</label>
        <input ng-model="ctrl.data.firstName" type="text" class="form-control" placeholder="Johnny">
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input ng-model="ctrl.data.lastName" type="text" class="form-control" placeholder="Appleseed">
      </div>
      <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" ng-model="ctrl.data.dob" class="form-control" datepicker-popup/>
      </div>
      <div class="form-group">
        <label>Street Address</label>
        <input type="text" ng-model="ctrl.data.address" typeahead="address for address in ctrl.getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control" placeholder="Infinite Loop, Cupertino, CA 95014, USA">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input ng-model="ctrl.data.email" type="email" class="form-control" placeholder="jappleseed@example.com">
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" ng-model="ctrl.data.phone" class="form-control" placeholder="(012) 345-6789">
      </div>
      <div class="form-group" collapse="!ctrl.data.phone || !ctrl.data.email">
        <label>Best form of contact</label>
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="ctrl.data.preferredFormOfContact" btn-radio="'Email'">Email</label>
          <label class="btn btn-primary" ng-model="ctrl.data.preferredFormOfContact" btn-radio="'Phone'">Phone</label>
        </div>
      </div>
      <div class="form-group" collapse="!ctrl.data.phone || ctrl.data.preferredFormOfContact === 'Email'">
        <label>Best time to call</label>
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="ctrl.data.preferredTimeToCall" btn-radio="'Morning'">Morning</label>
          <label class="btn btn-primary" ng-model="ctrl.data.preferredTimeToCall" btn-radio="'Afternoon'">Afternoon</label>
          <label class="btn btn-primary" ng-model="ctrl.data.preferredTimeToCall" btn-radio="'Night'">Night</label>
        </div>
      </div>
    </accordion-group>



    <accordion-group heading="Your Trip">
      <div class="form-group">
        <label>Where will you be going?</label>
        <div class="btn-group">
          <label class="btn btn-primary" ng-model="ctrl.data.tripType" btn-radio="'Walt Disney World'">Walt Disney World</label>
          <label class="btn btn-primary" ng-model="ctrl.data.tripType" btn-radio="'Disneyland'">Disneyland</label>
          <label class="btn btn-primary" ng-model="ctrl.data.tripType" btn-radio="'Disney Cruise'">Disney Cruise</label>
          <label class="btn btn-primary" ng-model="ctrl.data.tripType" btn-radio="'Disney\'s Aulani'">Disney's Aulani</label>
          <label class="btn btn-primary" ng-model="ctrl.data.tripType" btn-radio="'Adventures by Disney'">Adventures by Disney</label>
          <label class="btn btn-primary" ng-model="ctrl.data.tripType" btn-radio="'Other'">Other</label>
        </div>
      </div>
      <div collapse="ctrl.data.tripType != 'Walt Disney World'">
        <div class="form-group">
          <label>How often do you go to Walt Disney World?</label>
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="ctrl.data.tripFrequency" btn-radio="'Never Been'">Never Been</label>
            <label class="btn btn-primary" ng-model="ctrl.data.tripFrequency" btn-radio="'Been Once'">Been Once</label>
            <label class="btn btn-primary" ng-model="ctrl.data.tripFrequency" btn-radio="'A Few Times'">A Few Times</label>
            <label class="btn btn-primary" ng-model="ctrl.data.tripFrequency" btn-radio="'Every Year'">Every Year</label>
          </div>
        </div>
        <form class="form-group" ng-submit="ctrl.addToResorts(ctrl.resort)" collapse="!ctrl.data.tripFrequency || ctrl.data.tripFrequency === 'Never Been'">
          <label>What resort[s] have you stayed at?</label>
          <input type="text" ng-model="ctrl.resort" typeahead="resort for resort in ctrl.resorts | filter:$viewValue | limitTo:8" class="form-control" placeholder="Beach Club Villas">
        </form>
        <ul>
          <li ng-repeat="resort in ctrl.data.visitedResorts">{{resort}}</li>
        </ul>
        <div class="form-group">
          <label>Do you know when you'd like to go?</label>
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="ctrl.data.date.knowsWhen" btn-radio="'Exact Dates'">Exact Dates</label>
            <label class="btn btn-primary" ng-model="ctrl.data.date.knowsWhen" btn-radio="'Rough Estimate'">Rough Estimate</label>
            <label class="btn btn-primary" ng-model="ctrl.data.date.knowsWhen" btn-radio="'No Idea'">No Idea</label>
          </div>
        </div>
        <div class="form-group" collapse="ctrl.data.date.knowsWhen != 'Exact Dates'">
          <label>From</label>
          <input type="date" ng-model="ctrl.data.date.from" class="form-control" datepicker-popup/>
        </div>
        <div class="form-group" collapse="ctrl.data.date.knowsWhen != 'Exact Dates'">
          <label>To</label>
          <input type="date" ng-model="ctrl.data.date.to" class="form-control" datepicker-popup/>
        </div>
        <div class="form-group" collapse="ctrl.data.date.knowsWhen != 'Rough Estimate'">
          <input type="text" ng-model="ctrl.data.date.estimate" typeahead="time for time in ctrl.times | filter:$viewValue | limitTo:8" class="form-control" placeholder="Christmas 2015, April 2016, Etc.">
        </div>
      </div>
    </accordion-group>



  </accordion>
  <button ng-click="ctrl.post()" class="btn btn-default">Submit</button>
  <br>
  <br>
  <br>
  <!-- <p>{{ctrl.data}}</p> -->
</div>