<link rel="stylesheet" href="app/home/homeStyles.css">
<div class="home flex column">
  <div class="a column">
    <div class="a flex column">
      <span> Making time count </span>
    </div>
    <div class="b flex column">
      <span> Leave the planning to Us. </span>
    </div>
  </div>
  <div class="b">
    <div class="container">
      <p> Choosing the right vacation destination is an important decision of where and how you will spend precious time and build memories that last forever. Choosing the right vacation planner is an even bigger decision. You don't have time to leave your vacation to chance. Insist on the best... Hourglass Travel. </p>
      <p> Whether vacation, business or adventure, Hourglass Travel delivers. Internet Travel sites list hotels and destinations, but offer little else. Our years of experience in the industry will help you design the perfect vacation experience. From romantic getaways to large events, our experienced agents will handle all the details. Travel planning does not need to be stressful and time consuming. You can count on us to minimize your planning time and maximize time at your travel destination. The value of time with family is priceless. </p>
      <p> We offer our concierge services of travel planning only limited to your imagination. We can custom plan the perfect destination package including, resorts, entertainment, dining, meeting locations, special events, excursions, adventures and attractions. </p>
    </div>
  </div>
</div>
